@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Result", "Home"))
{
    <li>
        Выполнить расчет на завтра
        <select name="courseName">
            @foreach (var item in ViewBag.CourseList)
                {
                <option value="@item.Text">
                    @item.Text
                </option>
            }
        </select>
        <input type="submit" value="Выполнить" class="btn btn-default" />
    </li>
}